@import '../../../assets/styles/global.scss';
@import '../../../assets/styles/condicion-sacceso.scss';

.main-container {
    height: 100vh;
}

.btn-filter-color {
    color: white;
}

.container-tab {
    position: relative;
    height: 434px;
    overflow: auto;
    background: white;
    padding-left:30px;
    padding-right:30px;
}
.th-center {
  text-align: center;
}

.table-head {
    line-height: 15px;
}

.table-head-row {
    position: relative;
    white-space:nowrap;
    font-size: 0.8em;
    border-bottom: 2.5px solid #737373;
    // padding: 0px 20px;
    // padding-top: 20px;
}

.table-head-row:after {
    content: '';
    position: absolute;
    
  }

  
.nav-custom {

  .nav:after,
  .nav:before {
    content:"";
    display: table;
  } 
  .nav:after {
    clear:both;
    overflow:hidden;
  }
  .nav {
    zoom: 1;
    margin-left: 20px;
  }
  .nav li {
    list-style: none outside none;
    float: left;
    position: relative;
  }
  .nav .active {
    z-index: 3;
  }
  .nav li:before,
  .nav li:after,
  .nav  a:before,
  .nav  a:after {
    content:"";
    position: absolute;
    bottom:0;
  
  }
  .nav li:before,
  .nav li:after {
    background: #FFF;
    width: 10px;
    height: 10px;
  }
  .nav li:before {
    left: -10px;
  }
  .nav li:after {
    right: -10px;
  }
  .nav a {
    float: left;
    padding: 10px 40px;
    text-decoration: none;
    color: #232323;
    background: #FFF;
    border-radius: 10px 10px 0 0;
  }
  .nav .active a {
    background: rgba(0, 0, 0, 0.589);
    color:#232323;
  }
  
  .nav  a:before,
  .nav  a:after {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFF;
    z-index: 2;
  }
  .nav .active a:before,
  .nav .active a:after {
    background: #FFF;
  }
  .nav  a:before {
    left:-20px; 
  }
  .nav  a:after {
    right: -20px;
  }
  .nav .active:before,
  .nav .active:after {
    z-index: 1;
    background: #FFF;
  }
  .nav li:first-child a:before,
  .nav li:last-child a:after {
    background-color: #F1F2F3;
  }
  .tab-content {
    background: #FFF;
    color:#232323;
    padding: 20px;
  }
  .tab-pane {
    display: none;
  }
  .tab-pane.active {
    display: block;
  }

}


.tabs {
    margin-bottom: 25px;
    display: flex;
    list-style: none;
    width: 50%;
    padding-left: 0;
    margin-bottom: 0;
    li {
        width: 50%;
        text-align: center;
        position: relative;
        z-index: 1;

        &:after {
            content: '';
            display: block;
            box-shadow: 0px 0px 6px 0px rgba(9, 9, 10, 0.3);
            height: 25px;
            width: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            border-radius: 10px 10px  0 0;
        }

        &:first-child {
            a {
                border-radius: 10px 10px 10px 0;
            }
        }

        &:last-child {
            a {
                border-radius: 10px 10px 0 10px;
            }
        }
    }

    a {
        position: relative;
        z-index: 1;
        display: block;
        height: 35px;
        line-height: 35px;
        background-color: #E7E9F1;
        box-shadow: inset 0px -5px 10px -5px rgba(9, 9, 10, 0.3);
        border-radius: 10px;
        color: #747474;
        font-size: 13px;
        text-decoration: none;
    }

    .active {
        z-index: 2;

        a {
            background-color: #fff;
            box-shadow: none;
            border-radius: 10px 10px 0 0;
        }
    }
    
}
table {
    border-top: 3px solid transparent;
}