<!-- Navigation Bar -->
<navegacion></navegacion>


<div class="container menu-background" id="precio-container">

<!-- Select-->
    <div *ngIf="!isShow" >
        <precio-seleccion (negociosOutput)="parentListener($event)"
        (ventasOutput)="parentListenerTwo($event)"></precio-seleccion>
        <div class="d-flex justify-content-center background">
            <div class="col-2 form-group">
                <input type="submit" (click)="goToSection()" [disabled]="!existVentas || !existNegocios" class="btn bg-standard btn-block" value="Entrar">
            </div>
        </div>
    </div>

<!--Main view-->

  <!-- BUSINESS USER -->

<div class="precioWrapper" *ngIf="isShow" >

    <div class="row">
        <div class=" col-xs-12 col-lg-12 ">
            <div class="modInput">

                  <div class="form row">
                    <div class="form-group col-xs-12 col-md-1">
                        <label for="nombre" class="martinsLabel control-label">Cod.Mat</label>
                        <input type="text" value='' class="form-control" name="nombre" id="nombre" placeholder="Cod.">
                    </div>


                    <div class="dropdown form-group col-xs-12 col-md-3">
                        <label for="nombre" class="martinsLabel control-label">Descrição do material</label>
                      <button class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecione
                      </button>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <button class="dropdown-item martinsText" >Opt1</button>
                          <button class="dropdown-item martinsText" >Opt2</button>
                          <button class="dropdown-item martinsText" >Opt3</button>
                      </div>
                    </div>

                    <div class="form-group col-xs-12 col-md-1">
                        <label for="codCat" class="martinsLabel control-label">Cod.Cat</label>
                        <input type="text" value='' class="form-control" name="codCat" id="codCat" placeholder="Cod.">
                    </div>

                    <div class="form-group col-xs-12 col-md-3">
                        <label for="desmaterial" class="martinsLabel control-label">Descrição da categoria</label>
                        <input type="text" value='' class="form-control" name="desmaterial" id="desmaterial" placeholder="Seleccione">
                    </div>

                    <div class="form-group col-xs-12 col-md-1">
                        <label for="codSub" class="martinsLabel control-label">Cod.Sub</label>
                        <input type="text" value='' class="form-control" name="codSub" id="codSub" placeholder="Cod.">
                    </div>

                    <div class="form-group col-xs-12 col-md-3">
                        <label for="desSub" class="martinsLabel control-label">Descricao da subcategoria</label>
                        <input type="text" value='' class="form-control" name="desSub" id="desmaterial" placeholder="Seleccione">
                    </div>

                    <div class="form-group col-xs-12 col-md-1">
                        <label for="codFe" class="martinsLabel control-label">Cod.FE</label>
                        <input type="text" value='' class="form-control" name="codFe" id="codFe" placeholder="Cod.">
                    </div>


                    <div class="dropdown form-group col-xs-12 col-md-2">
                        <label for="filialExp" class="martinsLabel control-label">Filial de expedição</label>
                      <button class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecione
                      </button>


                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <button class="dropdown-item martinsText" >Opt1</button>
                          <button class="dropdown-item martinsText" >Opt2</button>
                          <button class="dropdown-item martinsText" >Opt3</button>
                      </div>
                    </div>

              <!-- SEGUNDA -->

                    <div class="form-group col-xs-12 col-md-1">
                        <label for="codFat" class="martinsLabel control-label">Cod.FAT</label>
                        <input type="text" value='' class="form-control" name="codFat" id="codFat" placeholder="Cod.">
                    </div>


                    <div class="dropdown form-group col-xs-12 col-md-2">
                        <label for="filialFat" class="martinsLabel control-label">Filial de faturamento</label>
                      <button class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecione
                      </button>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <button class="dropdown-item martinsText" >Opt1</button>
                          <button class="dropdown-item martinsText" >Opt2</button>
                          <button class="dropdown-item martinsText" >Opt3</button>
                      </div>
                    </div>


                    <div class="dropdown form-group col-xs-12 col-md-1">
                        <label for="estado" class="martinsLabel control-label">Estado</label>
                      <button class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        UF
                      </button>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <button class="dropdown-item martinsText" >Opt1</button>
                          <button class="dropdown-item martinsText" >Opt2</button>
                          <button class="dropdown-item martinsText" >Opt3</button>
                      </div>
                    </div>


                    <div class="dropdown form-group col-xs-12 col-md-2">
                        <label for="reg" class="martinsLabel control-label">Região de preço</label>
                      <button class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cód
                      </button>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <button class="dropdown-item martinsText" >Opt1</button>
                          <button class="dropdown-item martinsText" >Opt2</button>
                          <button class="dropdown-item martinsText" >Opt3</button>
                      </div>
                    </div>

                    <div class="form-group col-xs-12 col-md-2">
                        <input type="submit" class="btn bg-inverted btn-labeled btn-block btn-md btn-pventa " value="Salvar">
                    </div>
                    <div class="form-group col-xs-12 col-md-1 ">
                        <input type="submit" class="btn bg-inverted btn-labeled btn-block btn-md btn-pventa btn-grey" value="Limpar">
                    </div>

                  </div>

                </div>

        </div>

        <div class="modCond  modGeneral col-xs-12 col-md-4 col-lg-4">
            <h4 class="subtitlab darkbl">Seleccione uma condicão  <i class="fas fa-info-circle"></i></h4>

            <div class="itemCond">
                <h5 class="subtitlab darkbl">CMV</h5>

                <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText">CMV</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">+106,41</p>
                    </div>
                </div>

                <hr>

                <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText subtitlab darkbl">Subtotal</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right font-weight-bold">+106,41</p>
                    </div>
                </div>

            </div>

            <div class="itemCond">
                <h5 class="subtitlab darkbl">REGULATORIO</h5>

                <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText">IPI</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">+25,00</p>
                    </div>
                </div>

                <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText">ST</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">+5,00</p>
                    </div>
                </div>


                <hr>
                <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText subtitlab darkbl">Subtotal</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right font-weight-bold">+36,76</p>
                    </div>
                </div>

            </div>


            <div class="itemCond">
                <h5 class="subtitlab darkbl">OPERACIONAL</h5>

                <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText">Fraccionamiento</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">+5,00</p>
                    </div>
                </div>

                <hr>
                <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText subtitlab darkbl">Subtotal</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right font-weight-bold">+5,00</p>
                    </div>
                </div>

            </div>

            <div class="itemCond">
                <h5 class="subtitlab darkbl">FINANCIERO</h5>

                <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText">Condição de pag.</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">0</p>
                    </div>
                </div>

              <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText">Margen por seg.</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">0</p>
                    </div>
                </div>

                <hr>
                <div class="row subItemCond">
                    <div class="col col-xs-3">
                        <p class="martinsText subtitlab darkbl">Subtotal</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right font-weight-bold">-20,39</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-offset-col-md-4 col-lg-8">
            <div class="modCondSelect modGeneral">

            <h4 class="subtitlab">Condição selecionada </h4>
            <h4 class="subtitlab darkgr">Selecione uma sequência de acesso</h4>

            <div class="dropdown col-12 mt-2">
              <button class="dropdownMenuButton col-12 btn btn-light dropdown-toggle text-left  px-12 py-12" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecione uma opção
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item martinsText" >Opt1</button>
                  <button class="dropdown-item martinsText" >Opt2</button>
                  <button class="dropdown-item martinsText" >Opt3</button>
              </div>
            </div>
            <h4 class="subtitlab darkgr">Preencher condições</h4>

            <div class="compliance">


            </div>
            <div class="text-center">
                <input type="submit" class="btn bg-inverted btn-md btn-pventa font-weight-bold mt-4 py-2 px-5" value="Salvar">
            </div>



        </div>
    </div>

</div>

  <!-- TECHNICAL USER -->
<!--     <div *ngIf="isShow">

        <div class="background">
            <precio-element titulo="PRECO BASE"></precio-element>
            <precio-element titulo="REGULATORIO"></precio-element>
            <precio-element titulo="FINANCEIRO"></precio-element>
            <precio-element titulo="DESCONTO"></precio-element>
            <precio-element titulo="DESCONTO TRADE"></precio-element>
        </div>
    </div>
 -->


</div>
