@import '../../../assets/styles/global.scss';
@import '../../../assets/styles/condicion-sacceso.scss';
@import '../../../assets/styles/mixins-var.scss';


.fa-search {
    color: $martinsTextGrey;
    font-size: 1.2rem;
}

.container.rounded {
    background-color: white;
}

.btn-secondary {
    width: 20px;
    &:hover {
        background-color:#dc3545;
        border-color:#dc3545
      }
}

input.button-save[disabled] {
    background-color: transparent;
    color: $martinsBlue;
    border: 2px solid;
}