<div class="container col-9 d-flex flex-column justify-content-center px-4 py-4">
    <div class="container p-0 rounded border col-12">
        <div class="col-12 p-3 border-bottom">
            <span class="text-header">{{titulo}}</span>
        </div>
        <div class="row col-12 p-4">
            <div class="col-2">
                <span class="text-header">Cod. Condicao</span>
                <input class="form-control mt-3" value="TBNC"/>
            </div>
            <div class="col-3">
                <span class="text-header">Descricao de condicao</span>
                <input class="form-control mt-3" value="TBNC"/>
            </div>
            <div class="col-1 mb-2 col-1 d-flex flex-column justify-content-end align-items-center">
                <i class="fas fa-search"></i> 
            </div>
            <div class="col-2">
                <span class="text-header">Tipo de valor</span>
                <input class="form-control mt-3" value="TBNC"/>
            </div>    
            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <span class="text-header">Mandatoria</span>
                <div class="custom-control custom-checkbox mt-2 mb-2">
                    <input type="checkbox" class="custom-control-input" id="{{ titulo }} + firstCheck">
                    <label class="pl-4 custom-control-label" for="{{ titulo }} + firstCheck" id="checkMandatoriaLabel"></label>
                </div>
            </div>
            <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                <span class="text-header">Estadistica</span>
                <div class="custom-control custom-checkbox mt-2 mb-2">
                    <input type="checkbox" class="custom-control-input" id="{{ titulo }} + secondCheck">
                    <label class="pl-4 custom-control-label" for="{{ titulo }} + secondCheck" id="checkEstatisticaLabel"></label>
                </div>
            </div>
            <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                <div class="mt-2 ml-4">
                    <span class="pb-3 mt-2 text-header">Remover</span>
                </div>
                <div class="w-100 h-100 d-flex justify-content-center align-items-center mb-2">
                    <button type="button" class="btn btn-secondary p-0 ml-4 d-flex flex-column align-items-center justify-content-center">
                        <span class="btn-label d-flex align-items-center"><i class="fas fa-times p-0"></i></span>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</div>