@import "../../../assets/styles/global.scss";
@import "../../../assets/styles/condicion-sacceso.scss";

.filter-diretriz {
  background: #fff !important;
  box-shadow: 0px 0px 3px #00000012;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
  .filter-columns {
    padding-left: 30px;
    padding-right: 60px;
  }
  .border-filter {
    border: 1px solid #707070;
    border-radius: 5px;
    margin: 10px;
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px !important;
    }
    h2 {
      font-size: 14px;
      color: #4270c1;
      text-align: center;
    }
  }
  h5 {
    color: #707070;
    font-size: 18px;
    font-weight: 900;
    margin-left: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
    font: Bold 22px/22px Arial;
  }
  p {
    margin-left: 28px;
  }
}

.main-container {
  height: 100vh;
  margin-top:30px;
  .tab-header {
    background: #fff;
    width: 1192px;
    height: 84px;
    margin-bottom: 10px;
    display: flex;
    flex: row;
    justify-content: space-between;
    opacity: 1;
    text-align: center;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    padding-top:1%;
    border-radius: 5px;
    .margin-box-container {
      width: 120px;
      height: 80px;
      .date-box-info {
        width: 200px;
        height: 76px;
        border-radius: 5px;
        background: #EEEFF5 0% 0% no-repeat padding-box;
        margin-right: 10px;
        font-size: 12px;
      }
    }
    .margin-info-sales {
      display: flex;
      height: row;
      .margin-box-info {
        width: 220px;
        margin-right: 3%;
        font-size: 12px;
        height: 60px;
        background: #F2F2F8 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 5px;
        opacity: 1;
        padding-top: 5px;
        .label-info {
          text-align: center;
        }
        .content-info {
          padding-right: 9px;
          text-align: right;
          font: Bold 18px Source Sans Pro;
          letter-spacing: 0;
          color: #707070;
          opacity: 1;
        }
      }
    }
  }
}

.btn-filter-color {
  color: white;
}

.container-tab {
  position: relative;
  height: 434px;
  overflow: auto;
  background: white;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
}
.th-center {
  text-align: center;
}

.table-head {
  line-height: 15px;
}

.table-head-row {
  position: relative;
  white-space: nowrap;
  font-size: 0.8em;
  border-bottom: 2.5px solid #737373;
  // padding: 0px 20px;
  // padding-top: 20px;
}

.table-head-row:after {
  content: "";
  position: absolute;
}

.nav-custom {
  .nav:after,
  .nav:before {
    content: "";
    display: table;
  }
  .nav:after {
    clear: both;
    overflow: hidden;
  }
  .nav {
    zoom: 1;
    margin-left: 20px;
  }
  .nav li {
    list-style: none outside none;
    float: left;
    position: relative;
  }
  .nav .active {
    z-index: 3;
  }
  .nav li:before,
  .nav li:after,
  .nav a:before,
  .nav a:after {
    content: "";
    position: absolute;
    bottom: 0;
  }
  .nav li:before,
  .nav li:after {
    background: #fff;
    width: 10px;
    height: 10px;
  }
  .nav li:before {
    left: -10px;
  }
  .nav li:after {
    right: -10px;
  }
  .nav a {
    float: left;
    padding: 10px 40px;
    text-decoration: none;
    color: #232323;
    background: #fff;
    border-radius: 10px 10px 0 0;
  }
  .nav .active a {
    background: rgba(0, 0, 0, 0.589);
    color: #232323;
  }

  .nav a:before,
  .nav a:after {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    z-index: 2;
  }
  .nav .active a:before,
  .nav .active a:after {
    background: #fff;
  }
  .nav a:before {
    left: -20px;
  }
  .nav a:after {
    right: -20px;
  }
  .nav .active:before,
  .nav .active:after {
    z-index: 1;
    background: #fff;
  }
  .nav li:first-child a:before,
  .nav li:last-child a:after {
    background-color: #f1f2f3;
  }
  .tab-content {
    background: #fff;
    color: #232323;
    padding: 20px;
  }
  .tab-pane {
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
}

.tabs {
  margin-bottom: 25px;
  display: flex;
  list-style: none;
  width: 50%;
  padding-left: 0;
  margin-bottom: 0;
  li {
    width: 50%;
    text-align: center;
    position: relative;
    z-index: 1;

    &:after {
      content: "";
      display: block;
      box-shadow: 0px 0px 6px 0px rgba(9, 9, 10, 0.3);
      height: 25px;
      width: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      border-radius: 10px 10px 0 0;
    }

    &:first-child {
      a {
        border-radius: 10px 10px 10px 0;
      }
    }

    &:last-child {
      a {
        border-radius: 10px 10px 0 10px;
      }
    }
  }

  a {
    position: relative;
    z-index: 1;
    display: block;
    height: 35px;
    line-height: 35px;
    background-color: #e7e9f1;
    box-shadow: inset 0px -5px 10px -5px rgba(9, 9, 10, 0.3);
    border-radius: 10px;
    color: #747474;
    font-size: 13px;
    text-decoration: none;
  }

  .active {
    z-index: 2;

    a {
      background-color: #fff;
      box-shadow: none;
      border-radius: 10px 10px 0 0;
    }
  }
}
table {
  border-top: 3px solid transparent;
}
