// @import "../../../assets/styles/mixins-var.scss";
@import './mixins-var.scss';
@import './global.scss';

.background { 
    background-color: $backgroundGrey;
}

.options-list {
    background-color: #fff;
}
.list-header {
border-bottom: 3px solid #F7F7F7;
}

ul {
    list-style: none;
    max-height: 30vh;   
}

.btn-danger {
    width: 20px;
}

i {
    color: #fff;
}

.custom-text-muted::placeholder {
    color: #BEC0C6;
}

.custom-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control {
    padding-left: 1rem;
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #009966;
    background-color: #009966;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-image: none;
}

.custom-scrollbar-css {
    height: 200px;
    /*styles for Firefox*/
    scrollbar-color: #384461  #eee;
    scrollbar-width: thin;
  }

  .custom-scrollbar-css {
    overflow-y: scroll;
  }
  
    /*-----styles for Chrome and Safari-----*/
  /* scrollbar width */
  .custom-scrollbar-css::-webkit-scrollbar {
    width: 0.8rem;
  }
  
  /* scrollbar track */
  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* scrollbar handle */
  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #384461;
  }

  .button-save{
    background: $martinsBlue;
    border-color: $martinsBlue;
    padding-left:40px;
    padding-right: 40px;
  }

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
