@import './mixins-var.scss';


*:not(.fas) {
    font-family: 'Raleway', sans-serif;
}

*:not(input){
    color: $martinsTextGrey;

}

.text-header {
    font-weight: 800;
}

.background {
    background: $backgroundGrey;
}

button.dropdownMenuButton {
    background-color: white;
    border: 1px solid #D0D1D6;
    border-radius: .40rem;
    font-size:13px;
    &:focus:not(.list-header) {
    border: 2px solid $martinsBlue;
    }
}


.dropdown-toggle:after{
    position: relative;
    top: 0.5rem;
    float: right;
    color: $martinsBlue;
}

.dropdown-menu {
    min-width: 100%;
}
.dropdown-item {
    padding: .25rem 1.5rem !important;
}

#precio-container {
    height: 100vh;
}

.form-control{
     border-radius: .35rem !important;
     font-size:13px;

}
.form-group{
    padding: 0px 5px !important;
}

.form-control:focus,
.show>.btn-light.dropdown-toggle:focus {
   /*  color: #495057;
    background-color: #fff; */
    border-color: $martinsBlue;
    border: 1px solid $martinsBlue;

    // outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(66, 112, 193, 1);
}


.menu-background {
    background: $backgroundGrey;
    height: 100vh;
    padding:0px;
}


.title{
    color:$navMenuTextGrey;
    padding:3px;
    font-size: 17px !important;
}

.subtitlab{
    color:$navMenuIconGrey;
    padding:0px;
    font-size: 14px !important;
    font-weight: 700;
    &.darkbl{
        color:$martinsDarkBlue;
    }
    &.darkgr{
        color:$martinsTextGrey;
    }
    &.lightbl{
        color:$martinsBlue;
    }
}
.martinsText{
   color:$navMenuIconGrey;
   padding:3px;
   font-size: 13.5px !important;
   margin-bottom: 0px;
}

.martinsLabel{
    color:$navMenuTextGrey;
    padding:0px;
    font-size: 12.5px !important;
    font-weight: 700;
}

/**--buttons--*/

@mixin inverted-btn {
    background-color: transparent;
    color: $martinsBlue;
    border: 1.5px solid;
}

.btn.bg-standard {
    background-color: $martinsBlue;
    color: white;
    border: 3px solid $martinsBlue;
    &[disabled]{
        @include inverted-btn;
    }
}

.btn.bg-inverted{
    @include inverted-btn;
}

.btn-pventa{
    font-size: 13px;
}

.btn-labeled{

    margin-top: 30px !important;
    height: 30px;
    padding: 2px;
}

.btn-grey{
  color:$martinsTextGrey !important;
}
