$martinsBlue: #4270C1;
$martinsDarkBlue:#384461;
$martinsTextGrey: #858585;
$navMenuTextGrey: #707070;
$navMenuIconGrey: #9FA2AB;
$backgroundGrey: #F8F9FC;
$martinsRed: rgb(193, 106, 66);

@mixin center-bold {
    font-weight: 500;
    text-align: center;
}
