@import '../styles/mixins-var.scss';

.dropdown-menu.menu-nav a{
    color: $navMenuTextGrey;
}

a > span.fas {
    color: $navMenuIconGrey;
}

.triangle {
    position: absolute;
    top: -15px;
    left: 20px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
  }

  .menu-nav {
    margin-top: 20px;
    border-color: #f8f9fa;
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.47);
  }

  .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0px;
    border-radius: 0px 6px 6px 0px;
    border-color: #f8f9fa;
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.47);
    z-index: 1;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

/*.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-left: 10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}*/

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

span.fas.fa-bars{
    color: $martinsBlue;
}
