 @import '../../../assets/styles/global.scss';
 @import '../../../assets/styles/condicion-sacceso.scss';

.custom-checkbox .custom-control-input:checked~.custom-control-label[id^="check"]::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e")
}

.fa-search {
    color: $martinsBlue;
    font-size: 1.2rem;
}
